In [10]:
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from sklearn.datasets import make_regression
from keras.models import Sequential
from keras.optimizers import SGD
from matplotlib import pyplot
from sklearn.preprocessing import StandardScaler
from numpy import array
from numpy import reshape
from keras.layers import Activation, Dense,Dropout

Using TensorFlow backend.

In [2]:
df = pd.read_csv("titanic_train.csv")

In [3]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
df.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [9]:
df.shape

(891, 12)

In [10]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [13]:
print("Arun"+ " "+"Chapagain")

Arun Chapagain

In [15]:
# List
list = [1,2,3]

In [16]:
list

[1, 2, 3]

In [19]:
list[2]

3

In [22]:
list[:-1]

[1, 2]

In [23]:
list[::-1]

[3, 2, 1]

In [24]:
#tuple immutable
tuple = (1,2,3,4,5)

In [25]:
tuple

(1, 2, 3, 4, 5)

In [26]:
#dicetionary
dict = {
    "name": "Arun",
    "sex":"male"
}

In [27]:
dict

{'name': 'Arun', 'sex': 'male'}

In [28]:
dict["location"]="Pharping"

In [29]:
dict

{'name': 'Arun', 'sex': 'male', 'location': 'Pharping'}

In [30]:
dict.items()

dict_items([('name', 'Arun'), ('sex', 'male'), ('location', 'Pharping')])

In [31]:
dict.keys()

dict_keys(['name', 'sex', 'location'])

In [32]:
dict.values()

dict_values(['Arun', 'male', 'Pharping'])

In [33]:
for key, value in dict.items():
    print(key,value)

name Arun
sex male
location Pharping

In [34]:
def func():
    print("No arg")
    
func()

No arg

In [36]:
def func1(arg="Yes"):
    print(arg)

func1()

Yes

In [41]:
#String Formatting
num = int(input("Enter a number"))

if num % 2 ==0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

Enter a number5
5 is odd

In [42]:
print(f"square of {num} is {num **2}")

square of 5 is 25

In [45]:
class Class1():
    def __init__(self):
        self.id = 1
        self.name = "John"
        
    def show(self):
        print(f"Name :{self.name} Id:{self.id}")
        
obj1 = Class1()
obj1.show()

Name :John Id:1

In [54]:
class Class2(Class1):
    
    
    def show(self):
        print("Name",self.name)
        print("Id",self.id)
        
a = Class2()
a.show()

Name John
Id 1

In [55]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.graduationyear)

2019

In [5]:
from evenodd import even_odd as oe
# Restart kernel after this

In [6]:
x = oe(2)

Even

In [7]:
# numpy allows us to use array
# Numerical Pytho

In [11]:
np.__version__#To check version
#Shift + TAB to read the documentation
#TAB shows available functions

'1.17.2'

In [13]:
array1 = np.array([1,2,3,4])

In [14]:
array1

array([1, 2, 3, 4])

In [19]:
zeros = np.zeros([5,5])
zeros

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [20]:
ones = np.ones([5,5])
ones
ones.shape

(5, 5)

In [24]:
zeros.reshape(1,25) #this is 2D

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [25]:
zeros.reshape(25)#This is 1D

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0.])

In [27]:
zeros.reshape(25,-1)

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [28]:
zeros.reshape(1,-25)

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [29]:
repeat = np.repeat(10,100)

In [30]:
repeat

array([10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10])

In [31]:
repeat.reshape(10,10)

array([[10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10, 10, 10, 10, 10, 10]])

In [32]:
repeat.reshape(-1,5)

array([[10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10]])

In [34]:
sums = np.sum(repeat)
sums

1000

In [ ]:
sums = np.sum(repeat)
sums

In [36]:
mean =np.mean(repeat)

In [37]:
mean

10.0

In [38]:
list = [1,2,3,4,5,6]
array2 = np.array(list)

In [39]:
type(array2)

numpy.ndarray

In [40]:
list **2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [41]:
array2**2

array([ 1,  4,  9, 16, 25, 36])

In [42]:
np.pi #Value of pi

3.141592653589793

In [54]:
#Random Number
random = np.random.randn(5,5,4,1,5)
random

array([[[[[ 5.36224543e-01,  1.58535435e+00,  2.84581693e-01,
            2.02248303e+00, -1.09700070e+00]],

         [[ 1.51777200e+00, -1.88371619e-01,  1.00355969e-02,
            1.27176773e+00,  1.62174738e-01]],

         [[-1.45856917e-01, -1.06342759e+00,  3.47688061e-01,
           -9.75560668e-01, -1.89240999e+00]],

         [[-1.17672234e-01, -5.36635897e-01,  3.47583249e-01,
           -6.46946759e-01,  6.79679701e-01]]],


        [[[-1.26978751e-01,  2.20681287e+00, -6.96115325e-01,
            5.64360658e-01, -1.58841277e+00]],

         [[ 1.78156561e+00,  3.30969489e-01,  8.61509315e-01,
           -3.03536454e-01,  2.69879667e-01]],

         [[-1.33045957e-02,  5.98790925e-01, -8.83815705e-01,
            6.77614550e-01, -9.54091926e-01]],

         [[-1.86637907e+00,  4.56533410e-02, -9.55208725e-01,
            4.89904744e-01,  1.60575121e+00]]],


        [[[-1.40991592e+00,  1.76060769e+00,  6.01730388e-01,
           -1.09693236e+00, -1.56598911e+00]],

         [[-4.47658403e-01,  3.64816651e-01, -7.86056545e-01,
           -1.32712773e-01,  1.46465423e-01]],

         [[ 4.55006946e-01,  1.74751186e+00,  8.13719083e-02,
           -1.30920134e+00,  1.33508994e+00]],

         [[ 1.63295588e+00,  1.26836053e-01,  1.83232134e+00,
            1.10953099e+00, -1.10980413e-01]]],


        [[[-6.89198106e-03,  1.29627892e+00,  1.43774837e+00,
            2.40161346e+00, -6.80537232e-01]],

         [[ 1.23632023e+00,  5.26531766e-01, -4.10693759e-01,
           -4.66559474e-01,  6.52867994e-02]],

         [[-4.26575179e-02, -1.10368268e-01, -6.30583850e-01,
            8.31216819e-01, -2.79337352e-01]],

         [[ 9.81301779e-01,  2.87797130e-01, -2.23169155e-01,
           -2.06725484e-01,  2.93716688e-01]]],


        [[[-1.05725496e+00,  3.70760503e-01, -9.54996631e-01,
           -6.33289908e-01,  2.01605933e+00]],

         [[-1.86278064e-01, -2.42751000e-01, -6.68286410e-01,
           -1.08664866e+00, -1.10713572e+00]],

         [[ 1.57425349e+00,  2.74331287e-01,  8.90610476e-01,
            5.40068626e-01,  1.30450475e+00]],

         [[ 1.16234434e+00, -5.28392803e-02, -1.85411326e-01,
           -3.08714401e-01,  1.41409188e-01]]]],



       [[[[-1.03016768e+00, -2.06264426e+00, -9.43424291e-01,
           -1.17805095e+00,  5.52178001e-02]],

         [[-1.35744493e-01, -1.07778730e+00,  8.32792324e-01,
           -2.62215554e-01,  1.93401130e-01]],

         [[-2.00917167e+00, -1.01598292e+00,  3.03778537e+00,
           -2.12769023e+00,  9.72371669e-01]],

         [[-3.22330844e-01, -1.32596468e+00, -1.87691385e-01,
            9.82714049e-01, -3.73580701e-01]]],


        [[[ 2.87316192e-01,  1.36520462e+00,  1.23418764e+00,
            5.95609613e-01,  2.34403450e-02]],

         [[ 2.27951772e+00, -1.49236833e-01,  3.23504401e-01,
            3.61193352e-01,  5.68096377e-01]],

         [[-5.13136508e-01,  6.41830653e-01, -9.00709168e-01,
           -1.45909431e+00, -1.85816407e+00]],

         [[ 3.17394340e-01,  5.86774465e-01,  5.97148443e-01,
           -8.40895852e-01,  1.63320436e+00]]],


        [[[ 4.89499689e-01,  4.63796593e-01,  2.19790961e-01,
           -3.95351275e-01,  4.27717451e-01]],

         [[-5.42927017e-02,  1.13296728e+00, -3.31318517e-02,
           -1.60437606e+00,  2.44055143e+00]],

         [[-1.24375703e+00, -4.28106483e-01,  1.02974628e+00,
           -9.07341850e-01, -4.79623655e-01]],

         [[ 2.99444706e-01, -8.25659791e-01,  5.50545385e-01,
           -4.22488305e-01, -2.97381714e-01]]],


        [[[ 6.88577901e-01, -3.10007445e-01, -1.29524955e+00,
           -1.66258731e+00, -9.63373891e-01]],

         [[ 7.38464929e-01,  1.85785220e+00,  4.28772874e-02,
            1.49610452e+00, -2.84363915e-01]],

         [[ 1.40161605e+00, -1.53233615e+00, -1.00867072e-01,
           -5.37917066e-01,  1.15775709e+00]],

         [[ 1.16083655e+00,  2.76871605e-01, -1.43553854e+00,
            5.82342672e-02,  7.93513633e-01]]],


        [[[-1.51690405e+00, -3.47388804e-01, -7.44853041e-01,
            9.91538877e-02, -3.98572186e-01]],

         [[-1.44913719e+00,  5.24469839e-01,  9.56228567e-01,
            1.17249973e+00,  1.70342489e+00]],

         [[-2.65534934e+00, -1.09702494e-01, -8.91986623e-01,
           -3.06555219e-01,  2.54806810e-01]],

         [[ 1.59422330e+00,  5.54970130e-01, -2.87934638e-01,
            9.31207439e-01,  1.38801471e+00]]]],



       [[[[-1.25735882e+00,  4.38146568e-01, -2.43585773e+00,
            6.87904555e-01,  6.77341786e-01]],

         [[ 5.29495656e-01,  7.57578502e-01, -5.24284252e-01,
            9.57188346e-01, -2.54489583e-03]],

         [[-7.08148073e-01,  2.18483028e-01, -1.65687235e+00,
            2.51785936e-01,  2.02276606e-01]],

         [[ 3.13793316e-01,  3.20081493e-01,  1.01687021e+00,
            2.06733547e+00, -1.19262649e-01]]],


        [[[-3.91900276e-01,  1.05738581e-01, -3.69137293e-01,
           -2.42363853e-01,  5.16944543e-01]],

         [[-5.26704678e-01,  7.68181018e-01, -7.41111267e-01,
           -5.25459745e-01, -1.61006349e-01]],

         [[-1.50773494e+00,  8.93109364e-01,  4.39380499e-01,
            1.41019934e+00,  1.29293591e+00]],

         [[-1.43004124e-01, -2.12707639e+00, -7.71243272e-01,
           -7.30470447e-01, -2.54705031e-01]]],


        [[[-1.43370599e-01, -4.14244486e-01,  2.43039630e-01,
           -5.58181690e-01,  1.55490337e+00]],

         [[ 6.32736849e-01, -8.68823528e-01, -4.68117072e-01,
            6.26773407e-01, -9.08327188e-01]],

         [[ 6.16252472e-01, -1.27344027e+00, -1.36615630e+00,
           -1.36274485e-02,  8.95254856e-01]],

         [[ 1.40112834e+00, -3.21659690e-01,  6.49786657e-01,
            4.20217633e-01,  2.56757728e-01]]],


        [[[ 7.56886119e-01, -1.08453105e+00,  5.36927509e-01,
            2.76005562e-01, -8.79550118e-01]],

         [[ 9.60331771e-02, -5.34620202e-01, -1.10729360e+00,
           -9.14105780e-01, -1.22497203e+00]],

         [[-7.88398353e-01, -4.09590206e-01,  4.47749967e-01,
            6.96444400e-01, -9.38744738e-01]],

         [[ 8.53476380e-01,  3.85038045e-01,  7.64683106e-01,
            2.09332494e+00, -1.56076079e+00]]],


        [[[-5.96706096e-01, -1.26694014e+00,  8.61759091e-01,
           -6.21802982e-01,  7.07625270e-01]],

         [[-8.64773505e-01,  9.91935366e-01, -9.00204913e-01,
            1.63058960e+00,  8.38456894e-01]],

         [[-8.06555798e-01,  1.02108035e+00,  6.04960611e-01,
            5.34911863e-01,  1.91655846e+00]],

         [[-6.01362269e-02, -2.12705947e+00,  7.19804565e-01,
            1.78967410e+00, -2.54130172e-01]]]],



       [[[[-9.81915273e-01, -8.82872489e-02,  3.40589624e-01,
           -6.17950102e-01,  2.98207855e-01]],

         [[-6.63054157e-01, -9.83494444e-03, -9.77037867e-01,
           -1.16068537e-01,  2.16156593e-01]],

         [[ 4.60346141e-01,  4.63030746e-02, -4.16249718e-01,
            1.80660950e+00, -1.78064992e-01]],

         [[ 5.35741085e-01, -1.95804156e+00, -6.85419821e-01,
            2.27691281e-01, -3.58059671e-01]]],


        [[[ 2.23105755e+00, -6.62973718e-01,  6.71888657e-01,
            1.41680935e+00,  1.10471976e+00]],

         [[-9.58808801e-01, -1.43700801e+00,  2.11333386e-01,
            1.93660705e-01,  1.09531110e+00]],

         [[ 6.45582629e-01, -1.53459084e-01, -2.19805710e+00,
            8.59277877e-01,  2.19302314e-01]],

         [[-6.09192158e-01, -5.39455880e-01, -5.98337396e-01,
            4.20572511e-01,  2.04339036e-01]]],


        [[[-5.69680840e-01,  4.90188899e-01, -6.03797745e-01,
            4.43494151e-02,  3.40971338e-01]],

         [[ 7.80679872e-01, -4.32993850e-01,  3.02005271e-01,
           -7.69972147e-01, -1.67417891e-01]],

         [[ 4.18332391e-01, -4.47583050e-01,  2.98641088e-02,
            2.48403996e-01, -8.79565317e-01]],

         [[ 1.40487437e+00,  7.51414728e-01,  1.16621838e+00,
           -1.37810082e+00,  4.64066320e-01]]],


        [[[ 9.94566907e-02, -3.58821612e-01,  5.73339177e-01,
           -1.05887172e+00,  5.59488239e-01]],

         [[ 5.98095622e-01,  9.49647718e-01, -5.88444841e-01,
            1.47016373e+00,  1.00412369e-01]],

         [[ 1.24155361e+00,  9.68875726e-02, -1.54667596e-01,
           -2.00728138e+00,  9.24502900e-01]],

         [[-2.47083646e-01, -1.32564006e+00,  8.79907392e-02,
            6.09358153e-01,  8.05665832e-01]]],


        [[[-2.79298153e-01, -7.49497793e-01,  4.58684421e-01,
           -2.12605546e-01, -6.76637092e-01]],

         [[ 1.01032115e+00, -3.80572235e-03,  1.53380542e+00,
            3.95949000e-02, -1.15831975e+00]],

         [[ 3.90275162e-01, -3.75704795e-01, -2.70068435e-01,
            5.65766796e-01, -7.26002797e-01]],

         [[-1.08545292e+00, -1.22837339e-01, -4.96989854e-02,
           -1.20906367e+00,  4.18699220e-01]]]],



       [[[[ 1.48111841e+00,  4.94605935e-01, -3.72064574e-01,
            4.10497024e-01, -8.48683423e-01]],

         [[-5.92522741e-01,  5.24076774e-02, -4.48433837e-01,
            2.23629586e+00,  2.06889646e+00]],

         [[-1.43899313e+00,  5.66605896e-02, -3.17414868e-01,
            1.18414585e+00, -7.73396178e-01]],

         [[-1.24540969e+00, -1.57458749e+00,  1.53029822e+00,
            1.27602397e-01, -3.19158970e-01]]],


        [[[ 5.97529645e-02,  1.23697669e-01,  9.11339347e-01,
            1.55645519e-01, -2.05915012e-01]],

         [[-8.31710549e-01, -1.31002001e+00,  1.21097801e+00,
            1.06608956e+00,  9.17145004e-01]],

         [[-7.13303547e-01,  1.63349065e+00, -1.52036309e+00,
           -8.09015202e-01,  3.71541424e-01]],

         [[-6.59005868e-01,  6.95829402e-01,  4.07114918e-02,
            2.67105323e+00, -1.07687398e+00]]],


        [[[-1.34113066e-01,  1.68666103e+00,  5.54805174e-02,
           -1.11367784e+00,  1.92571629e+00]],

         [[-5.51209054e-01, -6.72458817e-01,  4.84013585e-01,
            3.47173336e-01,  5.53733676e-01]],

         [[-9.90023818e-02, -6.03199689e-01, -1.58466277e+00,
           -6.29626101e-01, -3.43924348e-01]],

         [[-1.04404878e+00,  3.88492631e-01,  1.27943287e+00,
           -2.41775436e-01, -3.00236713e-01]]],


        [[[ 3.36915710e-01, -5.55443868e-01,  3.06374115e-01,
           -1.11472178e+00,  4.17652293e-01]],

         [[-1.48920444e+00, -1.90481786e+00,  1.07652845e-01,
            1.30424075e+00,  3.07475117e-01]],

         [[ 1.61014466e-03,  7.87257393e-01, -1.01989288e+00,
           -4.74477623e-01,  1.24501774e+00]],

         [[-5.21842614e-01,  4.76109043e-01,  1.35253338e+00,
            3.73848574e-01,  4.14373125e-01]]],


        [[[ 7.97832314e-01,  4.63002292e-02,  1.40104797e+00,
           -6.79636841e-01,  4.92782229e-01]],

         [[-8.30963513e-01, -3.16869951e-01, -1.32367578e+00,
           -6.73640866e-01, -3.75050545e-01]],

         [[-7.56192779e-01, -1.47282150e+00,  7.21666431e-01,
           -5.99177439e-01,  1.02973115e+00]],

         [[-2.80539675e-02,  1.45287397e+00,  3.06531963e-01,
            6.58243981e-01,  1.20306535e+00]]]]])

In [ ]:
# # generate random integer values
# from random import seed
# from random import randint
# # seed random number generator
# seed(1)
# # generate some integers
# for _ in range(10):
#     value = randint(0, 10)
#     print(value)

In [62]:
from collections import Counter

In [83]:
integers = np.random.randint(5,5000,500)
integers

array([2559, 1264, 3402, 3226, 4118,  932, 2248, 4295, 3024, 1306,  877,
       4719, 4669, 4651,  101, 1972, 4677, 4977, 4643, 1457, 3580, 3723,
       1937, 1926, 2901, 1586, 1627,  135, 1545,  433, 3864,  708, 1177,
       4065, 1810,  166, 2452, 4772, 1053,  185, 1362, 3134,  270, 2219,
       2395,  567,  141, 2343, 3987,  618, 4282, 2954, 2771,  439, 2729,
       2957,  941, 4480, 3016, 2148, 2438,  570, 3705, 4496,  365, 2201,
       3069, 3221, 1881, 1119, 2943, 2239, 4869, 1966, 2975, 3919, 1902,
       2417,    5, 1818,  858, 1060,  874, 3484, 2745,  610, 2386, 2918,
       1650, 3987, 1708,  802, 3400, 2534, 2703, 3017, 3049, 3342, 1725,
        876, 4133, 3838,  155,  740,  668, 1488, 4212, 3078, 3276, 4187,
       2802,   86,  117, 1812,   88, 2516, 1708, 4812,   55, 3629, 3546,
         57, 2027, 4479, 1763, 1902, 2684,  643, 3499, 4659, 1778,    8,
       2627, 4253, 3372, 3625, 1715,  972,  738, 2041, 4667, 2577, 3035,
       4466, 3073, 2925, 3031, 1660, 2294, 3827, 3381, 3335,  557, 4502,
       4997, 1335, 2277, 2218, 4873, 2779, 3409, 1275, 1061,  740,  466,
       4279,   89, 1482, 3852,  609, 2179, 2942,  128, 3395, 4808, 1028,
       3098, 2529, 4998, 3266, 1933,  924, 1435, 2888,  341, 2658, 2787,
       2840,  328, 1544,   18, 2028, 2062, 1307, 2360, 3639, 3408,  290,
       1006,   85, 1254, 3070, 2791, 1893, 2270, 4208, 3605, 4068, 4378,
       4001, 2677,   79, 4159,  175, 2941, 4975, 2264, 1984,  323, 1394,
       3916,  923, 1625, 3608, 4012, 4991, 2695, 1897, 4349, 1601, 3295,
       1808, 3421, 1019, 3256, 1856, 2491,  791,  896, 2111, 4801, 3217,
       2077, 4410, 2616, 2817, 2823, 1018, 2440, 1770, 3050, 1401, 4126,
       2763, 2511,  153, 3825, 3841,  944,  905, 4119, 1869, 4244, 3188,
        920, 4937,  945, 2845, 3507, 2441, 4567,  426, 4906, 3813,  799,
          9, 2877, 2147, 4936, 4485, 3895, 2652, 3426,  560, 2226, 4635,
       2335, 3167, 3625, 2080, 3742, 4545, 4507,  783, 2289, 2526, 4522,
       3310, 3214,   61,  283, 2694, 1374, 4125, 3288, 4451,  113,  637,
        215, 3533,  692, 1597,  574, 2653,  705, 3068, 4685, 3912, 2260,
       3647,  808,  608, 1316, 3077, 3933,  234, 4481, 1831,  360, 4401,
       4572, 4448, 3696, 3955, 4609, 4750, 3441, 3339,  974, 1848,  634,
       3888, 1999, 4815,  597, 3534, 4517, 4899, 1775, 3799, 4961, 4497,
       3361, 3567, 3847, 1046,  486, 1083,  433, 4302, 3122,  243, 2446,
       3947, 3921, 2677, 4034, 3171, 3830, 2198, 1669, 2220, 2025,  388,
       2730, 3180, 4871, 3407,   34, 1216, 3396, 2700, 1125,  191, 1159,
       3104,  366, 3454, 4764, 2627, 1745,  577,  272, 4999, 3111,  469,
        273, 4342, 1056, 2775, 2366, 4884, 1565, 1309, 3521, 3706, 4479,
       1714, 2455,  562, 3782, 1498, 1694, 3693,  858, 1462, 3764, 2508,
       2431, 4140,  745, 2099,  265, 3966, 2632, 3217,  289, 1978, 1185,
        618, 3630, 2813, 2273, 4884,  882, 2396, 1768, 1334, 4216,  402,
       1612,  153, 3710,  337, 3499, 3920,  140, 3038, 3697,  525, 4733,
       4945, 1382,  380, 3906, 1684, 4461, 2145, 3566, 1821,  700, 1464,
       4019, 3792, 2570, 1290,  890, 1977, 3381, 3719, 3858, 2445, 1366,
        666, 2529, 3905, 3706, 3506, 1200, 4620, 1709, 2114, 4637, 3627,
       2553, 4365,  324, 1084, 3001, 4579, 1771,  553, 4448, 4991,   48,
        679,  897, 3843, 3925, 3696])

In [84]:
counts = Counter(integers)

In [85]:
counts

Counter({2559: 1,
         1264: 1,
         3402: 1,
         3226: 1,
         4118: 1,
         932: 1,
         2248: 1,
         4295: 1,
         3024: 1,
         1306: 1,
         877: 1,
         4719: 1,
         4669: 1,
         4651: 1,
         101: 1,
         1972: 1,
         4677: 1,
         4977: 1,
         4643: 1,
         1457: 1,
         3580: 1,
         3723: 1,
         1937: 1,
         1926: 1,
         2901: 1,
         1586: 1,
         1627: 1,
         135: 1,
         1545: 1,
         433: 2,
         3864: 1,
         708: 1,
         1177: 1,
         4065: 1,
         1810: 1,
         166: 1,
         2452: 1,
         4772: 1,
         1053: 1,
         185: 1,
         1362: 1,
         3134: 1,
         270: 1,
         2219: 1,
         2395: 1,
         567: 1,
         141: 1,
         2343: 1,
         3987: 2,
         618: 2,
         4282: 1,
         2954: 1,
         2771: 1,
         439: 1,
         2729: 1,
         2957: 1,
         941: 1,
         4480: 1,
         3016: 1,
         2148: 1,
         2438: 1,
         570: 1,
         3705: 1,
         4496: 1,
         365: 1,
         2201: 1,
         3069: 1,
         3221: 1,
         1881: 1,
         1119: 1,
         2943: 1,
         2239: 1,
         4869: 1,
         1966: 1,
         2975: 1,
         3919: 1,
         1902: 2,
         2417: 1,
         5: 1,
         1818: 1,
         858: 2,
         1060: 1,
         874: 1,
         3484: 1,
         2745: 1,
         610: 1,
         2386: 1,
         2918: 1,
         1650: 1,
         1708: 2,
         802: 1,
         3400: 1,
         2534: 1,
         2703: 1,
         3017: 1,
         3049: 1,
         3342: 1,
         1725: 1,
         876: 1,
         4133: 1,
         3838: 1,
         155: 1,
         740: 2,
         668: 1,
         1488: 1,
         4212: 1,
         3078: 1,
         3276: 1,
         4187: 1,
         2802: 1,
         86: 1,
         117: 1,
         1812: 1,
         88: 1,
         2516: 1,
         4812: 1,
         55: 1,
         3629: 1,
         3546: 1,
         57: 1,
         2027: 1,
         4479: 2,
         1763: 1,
         2684: 1,
         643: 1,
         3499: 2,
         4659: 1,
         1778: 1,
         8: 1,
         2627: 2,
         4253: 1,
         3372: 1,
         3625: 2,
         1715: 1,
         972: 1,
         738: 1,
         2041: 1,
         4667: 1,
         2577: 1,
         3035: 1,
         4466: 1,
         3073: 1,
         2925: 1,
         3031: 1,
         1660: 1,
         2294: 1,
         3827: 1,
         3381: 2,
         3335: 1,
         557: 1,
         4502: 1,
         4997: 1,
         1335: 1,
         2277: 1,
         2218: 1,
         4873: 1,
         2779: 1,
         3409: 1,
         1275: 1,
         1061: 1,
         466: 1,
         4279: 1,
         89: 1,
         1482: 1,
         3852: 1,
         609: 1,
         2179: 1,
         2942: 1,
         128: 1,
         3395: 1,
         4808: 1,
         1028: 1,
         3098: 1,
         2529: 2,
         4998: 1,
         3266: 1,
         1933: 1,
         924: 1,
         1435: 1,
         2888: 1,
         341: 1,
         2658: 1,
         2787: 1,
         2840: 1,
         328: 1,
         1544: 1,
         18: 1,
         2028: 1,
         2062: 1,
         1307: 1,
         2360: 1,
         3639: 1,
         3408: 1,
         290: 1,
         1006: 1,
         85: 1,
         1254: 1,
         3070: 1,
         2791: 1,
         1893: 1,
         2270: 1,
         4208: 1,
         3605: 1,
         4068: 1,
         4378: 1,
         4001: 1,
         2677: 2,
         79: 1,
         4159: 1,
         175: 1,
         2941: 1,
         4975: 1,
         2264: 1,
         1984: 1,
         323: 1,
         1394: 1,
         3916: 1,
         923: 1,
         1625: 1,
         3608: 1,
         4012: 1,
         4991: 2,
         2695: 1,
         1897: 1,
         4349: 1,
         1601: 1,
         3295: 1,
         1808: 1,
         3421: 1,
         1019: 1,
         3256: 1,
         1856: 1,
         2491: 1,
         791: 1,
         896: 1,
         2111: 1,
         4801: 1,
         3217: 2,
         2077: 1,
         4410: 1,
         2616: 1,
         2817: 1,
         2823: 1,
         1018: 1,
         2440: 1,
         1770: 1,
         3050: 1,
         1401: 1,
         4126: 1,
         2763: 1,
         2511: 1,
         153: 2,
         3825: 1,
         3841: 1,
         944: 1,
         905: 1,
         4119: 1,
         1869: 1,
         4244: 1,
         3188: 1,
         920: 1,
         4937: 1,
         945: 1,
         2845: 1,
         3507: 1,
         2441: 1,
         4567: 1,
         426: 1,
         4906: 1,
         3813: 1,
         799: 1,
         9: 1,
         2877: 1,
         2147: 1,
         4936: 1,
         4485: 1,
         3895: 1,
         2652: 1,
         3426: 1,
         560: 1,
         2226: 1,
         4635: 1,
         2335: 1,
         3167: 1,
         2080: 1,
         3742: 1,
         4545: 1,
         4507: 1,
         783: 1,
         2289: 1,
         2526: 1,
         4522: 1,
         3310: 1,
         3214: 1,
         61: 1,
         283: 1,
         2694: 1,
         1374: 1,
         4125: 1,
         3288: 1,
         4451: 1,
         113: 1,
         637: 1,
         215: 1,
         3533: 1,
         692: 1,
         1597: 1,
         574: 1,
         2653: 1,
         705: 1,
         3068: 1,
         4685: 1,
         3912: 1,
         2260: 1,
         3647: 1,
         808: 1,
         608: 1,
         1316: 1,
         3077: 1,
         3933: 1,
         234: 1,
         4481: 1,
         1831: 1,
         360: 1,
         4401: 1,
         4572: 1,
         4448: 2,
         3696: 2,
         3955: 1,
         4609: 1,
         4750: 1,
         3441: 1,
         3339: 1,
         974: 1,
         1848: 1,
         634: 1,
         3888: 1,
         1999: 1,
         4815: 1,
         597: 1,
         3534: 1,
         4517: 1,
         4899: 1,
         1775: 1,
         3799: 1,
         4961: 1,
         4497: 1,
         3361: 1,
         3567: 1,
         3847: 1,
         1046: 1,
         486: 1,
         1083: 1,
         4302: 1,
         3122: 1,
         243: 1,
         2446: 1,
         3947: 1,
         3921: 1,
         4034: 1,
         3171: 1,
         3830: 1,
         2198: 1,
         1669: 1,
         2220: 1,
         2025: 1,
         388: 1,
         2730: 1,
         3180: 1,
         4871: 1,
         3407: 1,
         34: 1,
         1216: 1,
         3396: 1,
         2700: 1,
         1125: 1,
         191: 1,
         1159: 1,
         3104: 1,
         366: 1,
         3454: 1,
         4764: 1,
         1745: 1,
         577: 1,
         272: 1,
         4999: 1,
         3111: 1,
         469: 1,
         273: 1,
         4342: 1,
         1056: 1,
         2775: 1,
         2366: 1,
         4884: 2,
         1565: 1,
         1309: 1,
         3521: 1,
         3706: 2,
         1714: 1,
         2455: 1,
         562: 1,
         3782: 1,
         1498: 1,
         1694: 1,
         3693: 1,
         1462: 1,
         3764: 1,
         2508: 1,
         2431: 1,
         4140: 1,
         745: 1,
         2099: 1,
         265: 1,
         3966: 1,
         2632: 1,
         289: 1,
         1978: 1,
         1185: 1,
         3630: 1,
         2813: 1,
         2273: 1,
         882: 1,
         2396: 1,
         1768: 1,
         1334: 1,
         4216: 1,
         402: 1,
         1612: 1,
         3710: 1,
         337: 1,
         3920: 1,
         140: 1,
         3038: 1,
         3697: 1,
         525: 1,
         4733: 1,
         4945: 1,
         1382: 1,
         380: 1,
         3906: 1,
         1684: 1,
         4461: 1,
         2145: 1,
         3566: 1,
         1821: 1,
         700: 1,
         1464: 1,
         4019: 1,
         3792: 1,
         2570: 1,
         1290: 1,
         890: 1,
         1977: 1,
         3719: 1,
         3858: 1,
         2445: 1,
         1366: 1,
         666: 1,
         3905: 1,
         3506: 1,
         1200: 1,
         4620: 1,
         1709: 1,
         2114: 1,
         4637: 1,
         3627: 1,
         2553: 1,
         4365: 1,
         324: 1,
         1084: 1,
         3001: 1,
         4579: 1,
         1771: 1,
         553: 1,
         48: 1,
         679: 1,
         897: 1,
         3843: 1,
         3925: 1})

In [86]:
len(counts)

479

In [87]:
# List
l1 = []
l1.append(1)

In [88]:
l1

[1]

In [89]:
del l1[0]

In [90]:
l1

[]

In [91]:

l1 = [1,2,3,4,[1,2,3]]

In [92]:
l1

[1, 2, 3, 4, [1, 2, 3]]

In [95]:
# Tuple
t1= (1,2,3)

t1

In [96]:
t1

(1, 2, 3)

In [97]:
# Tuple cannot be edited
# Original data change nahos bhanera tuple banainxa

In [102]:
# dictionary
d1 = {}
d1[1]="Nepal"
d1[2]="china"

In [103]:
d1

{1: 'Nepal', 2: 'china'}

In [112]:
d1.keys()

dict_keys([1, 2])

In [110]:
l1 = [1,2,3,4,5,6]
l1 = np.array(l1,dtype = np.float)

In [111]:
l1

array([1., 2., 3., 4., 5., 6.])